<h1 mat-dialog-title>Travel form</h1>
<div mat-dialog-content>

<form [formGroup]="travelForm" (ngSubmit)="onFormSubmit()">
  Position: <input type="text" formControlName="position" name="usernamevalue"  [(ngModel)]="data.position" placeholder="Enter Position"><br><br>
  Name: <input type="text" formControlName="name" [(ngModel)]="data.name" placeholder="Enter Name"><br><br>
  Description: <input type="text" formControlName="description" [(ngModel)]="data.description" placeholder="Enter Description"> <br><br>
  Dates: <input type="text" formControlName="dates" [(ngModel)]="data.dates" placeholder="Enter Dates"> <br><br>
  Like: <input formControlName="like" placeholder="Like ?" [(ngModel)]="data.like"> <br><br>
  <button type="submit" >Submit</button> 
</form> 