.button-container {
    padding-bottom: 16px;
    padding-top: 16px;
    margin-left: 50%;
  }

  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  
.form-field {
  width: 100%;
}

.mat-progress-bar{
  padding-top: 10px;
}