<h1 mat-dialog-title>Travel form</h1>
<div mat-dialog-content>

<form [formGroup]="travelForm" (ngSubmit)="onFormSubmit()">
  Name: <input type="text" formControlName="name" [(ngModel)]="data.name" placeholder="Enter Name"><br><br>
  Description: <input type="text" formControlName="description" [(ngModel)]="data.description" placeholder="Enter Description"> <br><br>
  Departure: <input type="text" formControlName="departure" [(ngModel)]="data.departure" placeholder="Enter departure"> <br><br>
  Return: <input type="text" formControlName="return" [(ngModel)]="data.return" placeholder="Enter return"> <br><br>
  Like: <input formControlName="like" placeholder="Like ?" [(ngModel)]="data.like"> <br><br>
  <button type="submit" >Submit</button> 
</form>